body {
    background-color: hsl(0, 0%, 75%);
}
.navbar-brand {
    color: black;
    font-size: large;
}
.nav-link {
    color: black;
    font-size: large;
}
#photo {
    display: flex;
    padding-left: 20px; 
    width: 300px; 
    height: 300px;
}
.text-center {
    margin-top: 20px; 
    justify-content: center;
}
#carouselExampleIndicators {
    max-width: 600px; 
    max-height: 800px;
    margin: auto; 
}

