body {
    background-color: hsl(0, 0%, 75%);
    height: 100vh;
}
.navbar {
    background-color: hsl(0, 0%, 60%); 
    border-bottom: 1px solid grey; 
}
.navbar-brand {
    color: black;
    font-size: large;
}
.nav-link {
    color: black;
    font-size: large;
}
#photo {
    display: flex;
    padding-top: 40px;
    padding-left: 20px; 
    width: 400px; 
    height: 300px;
    cursor: pointer;
}
.text-center {
    margin-top: 20px; 
    justify-content: center;
}
#carouselExampleIndicators {
    max-width: 600px; 
    max-height: 800px;
    margin: auto; 
}
.carousel-caption-below {
    position: static;
    text-align: center;
    padding-top: 10px;
}

