/* Contact Styles */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.contact-container .contact-card {
    border: 2px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 70%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;
}

.contact-card h2,
.contact-card p {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 0.25rem; 
    margin: 0.5rem 0;
    font-size: 1.2rem; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal; 
    text-align: center; 
}

.mail-logo,
.location-logo {
    font-size: 1.5rem;
}
