/* Navbar Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    padding: 1rem 0.5rem;
}

ul {
    border: 2px solid grey;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.4rem 0.5rem; 
    list-style: none;
    border-radius: 20px;
    box-sizing: border-box;
}

.link {
    list-style: none;
    padding: 0 0.8rem;
    display: flex; 
    align-items: center; 
}

.middle-nav-links {
    margin: auto;
    align-items: center;
}

.contact-nav-link {
    margin-right: 1rem;
}

a {
    background: linear-gradient(currentColor 0 0) bottom left/ var(--underline-width, 0%) 0.1em no-repeat;
    color: white;
    display: inline-block;
    padding: 0.2rem 0.5em;
    text-decoration: none;
    transition: background-size 0.4s;
}

.link:hover a {
    --underline-width: 100%; 
}
