.projects-grid-section {
    margin-top: 6rem;
    height: 100%;
}

.projects-grid-container {
    display: grid;
    max-width: 90%;
    min-width: 30%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 2rem; 
    margin: 0 auto;
    padding: 1rem;
}