.projects-grid-section {
    margin-top: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-grid-container {
    display: grid;
    max-width: 95%; 
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 2rem;
    margin: 0 auto;
    padding: 1rem;
}

.projects-grid-section .show-btn {
    height: 50px;
    width: 150px;
    margin-top: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid grey;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-grid-section .show-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .projects-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        max-width: 100%; 
        padding: 0.5rem; 
    }
}

@media (max-width: 480px) {
    .projects-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
        max-width: 100%; 
        padding: 0.5rem;
    }
}

@media (max-width: 320px) {
    .projects-grid-container {
        grid-template-columns: 1fr; 
        max-width: 100%; 
        padding: 0.5rem; 
    }
}