/* General Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 10, 34);
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: .8rem;
}