/* General Global Styles */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}